@import "../../styles.scss";

.main {
  @include box-shadow;
  width: 100%;
  height: 90vh;
  max-width: 600px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-radius: 4px;
}