@import "../../styles.scss";

.main {
  @include box-shadow;
  width: 100%;
  height: 90vh;
  max-width: 600px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-radius: 4px;
  font-family: $font-raleway;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  @include respond(horizon-xl) {
    flex-direction: row;
  }

  @include respond(break-l) {
    @include box-shadow;
    max-width: 100%;
    min-height: -webkit-fill-available;
    margin: 0;
    justify-content: space-around;
    border-radius: 0px;
  }

  @include respond(horizon-l) {
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    @include transition;
    cursor: pointer;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;

    @include respond(horizon-xl) {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
      animation-name: none !important; 
    }
  }

  &__span {
    color: $color-red;
  }

  &__form {
    width: 50%;

    @include respond(horizon-xl) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      width: 75%;
    }
  }

  &__option {
    display: none;
  }

  &__label {
    @include transition;
    cursor: pointer;
    margin: 5px 0;
    display: block;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $color-light;
    color: $color-light;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover,
    &:active {
      background-color: $color-light;
      color: $color-white;
    }
  }

  &__option:checked + &__label {
    border: 1px solid $color-red;
    background-color: $color-red;
    color: $color-white;
  }

  &__submit {
    border: none;
    background-color: transparent;
    margin: 50px auto;
    display: block;
    cursor: pointer;

    @include respond(horizon-xl) {
      margin: 0 auto;
    }
        
    &:focus {
        outline: none;
    }
  }

  &__icon {
    @include transition;
    font-size: 50px;
    color: $color-white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-red;

    &:hover,
    &:active {
      color: $color-red;
    }
  }

  &__score {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 0;
    display: none;

    @include respond(break-l) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    &--won {
      display: block;
      background-color: $color-green;
    }

    &--failed {
      display: block;
      background-color: $color-purple;
    }

    &--solved {
      display: block;
      background-color: $color-red;
    }
  }
}