$color-white: #ffffff;
$color-black: #000000;

$color-orange: #fa8231;
$color-orange-2: #fd9644;
$color-red: #eb3b5a;
$color-red-2: #fc5c65;
$color-purple: #8854d0;
$color-purple-2: #a55eea;
$color-light: #a5b1c2;
$color-light-2: #d1d8e0;
$color-dark: #4b6584;
$color-dark-2: #778ca3;
$color-green: #20bf6b;
$color-green-2: #26de81;
$color-sky: #45aaf2;
$color-sky-2: #2d98da;
$color-blue: #3867d6;
$color-blue-2: #4b7bec;